// Importing variables
@import "./variables";

// Importing Bulma from node_modules
@import "~bulma/bulma.sass";
@import "./terminal";
@import "./navbar";

html, body, .navbar {
	background: $primary-color;
	font-family: "Rubik", sans-serif;
}

.hero {
	display: flex;
}

.animated-caret {
	background-color: rgba(116,127,224,.65);
	animation: caret 1s steps(1) infinite;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer {
	background: transparent;
	.tags {
		display: flex;
		justify-content: center;
	}
}
